<div class="card border-primary">
    <div class="card-header">{{book.volumeInfo.title}}</div>
    <div class="card-body text-primary">
        <div class="row">

            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                <img ng-src="{{book.volumeInfo.imageLinks.thumbnail}}" class="img" />
            </div>

            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                <div class="card-text">{{book.volumeInfo.description}}</div>
            </div>

        </div>


        <div class="row">

            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="pull-right">

                    <a ng-href='{{book.volumeInfo.previewLink}}' class="btn btn-danger" target="_blank">Buy</a>

                </div>
            </div>

        </div>




    </div>
</div>
